.disabled {
    opacity: 0.;
    cursor: not-allowed;
    margin-bottom:0;
}

.btn2 {
    display:block;
    font-size:14px;
    margin-top: 0;
    margin-left:0;
    margin-bottom:100px;
    width:80px;
    height:40px;
    background-color: white;
    border:none;
    font-weight:400;
    text-align: left;
}

.btn2:hover{
    text-decoration: underline;
}

.progress-status{
    height: 180px;
    padding: 20px;
    border-radius:5px;
}


.error-status{
    margin-top:50px;
    height:80px;
    padding: 20px;
    border-radius:5px;
}